body {
  background-image: url("bg.png");
  background-repeat: repeat;
  font-family: "Open Sans";
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header, div.content, footer {
  background-color: rgba(255, 255, 255, .7);
  border: 2px solid #444;
  border-radius: 4px;
  max-width: 400px;
  margin: 5px auto;
  padding: 5px;
}

header a, .release {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border-radius: 3px;
  padding: 2px;
}

header a:hover, .release:hover {
  background-color: #ffc;
}

footer {
  font-style: italic;
  color: #444;
  font-size: 14px;
  text-align: center;
}

p {
  margin: 2px 0;
  padding: 0;
}

button {
  background-color: #ddd;
  border: 1px solid #777;
  border-radius: 3px;
  padding: 2px 6px;
}

button:hover {
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-color: #ffc;
}

a {
  color: #000;
}

a:hover {
  border-color: #000;
}

a.download {
  float: right;
}

.date {
  font-style: normal;
  font-weight: bold;
}

.right { float: right; }
.center { text-align: center; }
