* { margin: 0; padding: 0; }

body {
	background-image: url("res/bg.png");
	padding: 20px;
}

.wrap {
	font-family: 'PT Sans';
	margin: auto;
	width: 800px; min-width: 500px;
}

.center {
	text-align: center;
}

a {
	-webkit-transition: all 200ms;
	color: #444;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
	text-shadow: 0 0 2px rgb(192, 16, 86);
}

.osa {
	-webkit-transition: all 200ms;
	background-color: rgba(255, 255, 255, 0.9);
	border: 2px solid #999; border-radius: 3px;
	display: inline-block;
	opacity: 0.5;
	margin: 5px;
	padding: 5px;
}

.osa:hover {
	border-color: rgb(192, 16, 86);
	opacity: 1;
}
